<div class="main">
    <div class="footer">
        <div class="logo">
            <i class="ri-restaurant-fill"></i>
            <h1>Food</h1>
        </div>
        <div class="manu">
            <a href="#">home</a>
            <a href="#">About Us</a>
            <a href="#">Products</a>
            <a href="#">Quality</a>
        </div>
        <div class="social">
            <i class="ri-telegram-fill"></i>
            <i class="ri-instagram-fill"></i>
            <i class="ri-twitter-x-fill"></i>
            <i class="ri-facebook-circle-fill"></i>
        </div>
    </div>
</div>
