<main>
    <img id="demo" src="../../assets/demo.png" alt="">

    <h1>About The Company</h1>
    <div id="about">
        <div class="box">
            <i class="ri-bookmark-3-line"></i>
            <h3>More Than 10 year</h3>
            <p>We have great pleasure in introducing our concern being 
                the leaders in the fields of Spicy Food Products.
                We have been serving the end users and Consumer.</p>
        </div>
        <div class="box">
            <i class="ri-restaurant-2-line"></i>
            <h3>More Than 10 year</h3>
            <p>We have great pleasure in introducing our concern being 
                the leaders in the fields of Spicy Food Products.
                We have been serving the end users and Consumer.</p>
                <button id="btn">Read More</button>
        </div>
        <div class="box">
            <i class="ri-drinks-fill"></i>
            <h3>More Than 10 year</h3>
            <p>We have great pleasure in introducing our concern being 
                the leaders in the fields of Spicy Food Products.
                We have been serving the end users and Consumer.</p>
        </div>
    </div>
</main>