<main>
    <h1>Our Popular Foods Menu</h1>
    <div id="products">
        <div class="product">
            <img src="../../assets/product1.png" alt="">
            <h4>Tomato Salad</h4>
            <p>Vegetable</p>
            <h1>$25</h1>
        </div>
        <div class="product">
            <img src="../../assets/product2.png" alt="">
            <h4>Tomato Salad</h4>
            <p>Vegetable</p>
            <h1>$25</h1>
        </div>
        <div class="product">
            <img src="../../assets/product3.png" alt="">
            <h4>Tomato Salad</h4>
            <p>Chicken</p>
            <h1>$25</h1>
        </div>
        <div class="product">
            <img src="../../assets/product4.png" alt="">
            <h4>Tomato Salad</h4>
            <p>Vegetable</p>
            <h1>$25</h1>
        </div>
        <div class="product">
            <img src="../../assets/product3.png" alt="">
            <h4>Tomato Salad</h4>
            <p>Chicken</p>
            <h1>$25</h1>
        </div>
    </div>
    <div id="products">
        <div class="product">
            <img src="../../assets/product1.png" alt="">
            <h4>Tomato Salad</h4>
            <p>Vegetable</p>
            <h1>$25</h1>
        </div>
        <div class="product">
            <img src="../../assets/product2.png" alt="">
            <h4>Tomato Salad</h4>
            <p>Vegetable</p>
            <h1>$25</h1>
        </div>
        <div class="product">
            <img src="../../assets/product3.png" alt="">
            <h4>Tomato Salad</h4>
            <p>Chicken</p>
            <h1>$25</h1>
        </div>
        <div class="product">
            <img src="../../assets/product4.png" alt="">
            <h4>Tomato Salad</h4>
            <p>Vegetable</p>
            <h1>$25</h1>
        </div>
        <div class="product">
            <img src="../../assets/product1.png" alt="">
            <h4>Tomato Salad</h4>
            <p>Vegetable</p>
            <h1>$25</h1>
        </div>
    </div>
</main>